 body, li, ul
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.tableStyle{
	background-color:#40BAF4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #bfc4ca;
	border-right-color: #bfc4ca;
	border-bottom-color: #bfc4ca;
	border-left-color: #bfc4ca;
}
.table_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #666666;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	text-align:left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	height: 20px;
	font-weight: bold;
	background-color: #40BAF4;
}
.table_input{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	text-align:left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.table_input input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	height: 20px;
	width: 99%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
