@charset "gb2312";
body {
scrollbar-face-color: #DEE3E7;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: #DEE3E7;
scrollbar-3dlight-color: #D1D7DC;
scrollbar-arrow-color:  #006699;
scrollbar-track-color: #EFEFEF;
scrollbar-darkshadow-color: #98AAB1;
margin:0px;
FONT-FAMILY: "宋体", Arial, Helvetica, sans-serif;
}
TD,Th,div,form,SELECT{FONT-SIZE:12px;white-space:normal; word-break:break-all;font-weight:normal; margin:0px;padding:0px; border:0px;FONT-FAMILY: "宋体", Arial, Helvetica, sans-serif;}
TEXTAREA{overflow:auto;FONT-SIZE: 12px;LINE-HEIGHT: 150%;white-space:normal; word-break:break-all; BORDER: #C8E4EE 1px solid;}
img{border:0px;}
hr {height:1px;color:#000000;}
UNKNOWN{BORDER-RIGHT: #bf4138 1px solid; BORDER-TOP: #bf4138 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #ffffff; BORDER-LEFT: #bf4138 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #bf4138 1px solid; FONT-STYLE: normal; FONT-VARIANT: normal}
SELECT {BORDER-RIGHT: #bf4138 1px solid; BORDER-TOP: #bf4138 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #ffffff; BORDER-LEFT: #bf4138 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #bf4138 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal}

input {FONT-SIZE: 9pt;}
A:link {COLOR: #000000; TEXT-DECORATION: none}
A:visited {COLOR: #000000; TEXT-DECORATION: none}
A:hover {	COLOR: #ff0000; TEXT-DECORATION: underline/*	background:#4091EA;COLOR: #ffffff;TEXT-DECORATION: underline;*/}

.out{ border-top:1 solid #efefef;border-left:1 solid #efefef;background:#ffffff;font:9pt;color:#000000;width:150;height:18px }
.over{ border-top:1 solid #efefef;border-left:1 solid #efefef;background:#efefef;font:9pt;color:#000000;width:150;height:18px }
.submit { height: 19px;font-size:12px; color:#000; border: 1px solid #00A7D1; background:url(../images/bottombg.gif); padding-top:2px;}
.inputExcel { height:19px; width:45px; overflow:hidden; font-size:12px; color:#000; border: 1px solid #00A7D1; background:url(../images/bottomExcelbg.gif); padding:2px 0px 0px 12px;}
.submit1 { height: 20; background-color: #DAEAF6; font-size: 12px; color: #09304E; border: 1px solid; border-color: #CAD8E1 #CAD8E1 #CAD8E1 #CAD8E1; }
.submit2 { height: 20;width:100; background-color: #DAEAF6; font-size: 12px; color: #09304E; border: 1px solid; border-color: #A7BDCE #A7BDCE #A7BDCE #A7BDCE; }
.input_read {BACKGROUND-COLOR: #DCEBF3;border:1px solid #6FA9CC;font-size:12;color:#15567D;}
.smt { height: 30px;font-size:12px; color:#000; border: 1px solid #00A7D1; background:url(../images/login.gif); padding-top:2px;}



/*系统公共类*/
.left{float:left;}
.right{float:right;}
.center{text-align:center}
.line18{line-height:18px;}
.line20{line-height:20px;}
.line22{line-height:22px;}
.line24{line-height:24px;}
.line26{line-height:26px;}
.line28{line-height:28px;}
.line30{line-height:30px;}
.nobr{white-space:nowrap;}

.margin_top2 {MARGIN-TOP: 2px}
.margin_top5 {MARGIN-TOP: 5px}
.margin_top10 {MARGIN-TOP: 10px}
.margin_bottom2 {MARGIN-bottom:2px}
.margin_bottom5 {MARGIN-bottom:5px}
.margin_bottom10 {MARGIN-bottom:10px}
.padding_top2 {PADDING-TOP: 2px}
.padding_top4 {PADDING-TOP: 4px}
.padding_left4 {PADDING-left:4px}
.padding_bottom10 {	PADDING-BOTTOM: 10px}

A:link {COLOR: #000000; TEXT-DECORATION: none}
A:visited {COLOR: #000000; TEXT-DECORATION: none}
A:hover {COLOR: #ff0000;TEXT-DECORATION: underline}
/*---------白色-----------*/
.F_white{COLOR: #ffffff}
.F_white A:link {COLOR: #ffffff; TEXT-DECORATION: none}
.F_white A:visited {COLOR: #ffffff; TEXT-DECORATION: none}
.F_white A:hover {COLOR: #ffffff; TEXT-DECORATION: underline}
/*---------红色-----------*/
.F_red {COLOR: #ff0000}
.F_red A:link {COLOR: #ff0000; TEXT-DECORATION: none}
.F_red A:visited {COLOR: #ff0000; TEXT-DECORATION: none}
.F_red A:hover {COLOR: #ff0000; TEXT-DECORATION: underline}
/*----------橙色--------------*/
.F_orange {COLOR: #F08300}
.F_orange A:link {	COLOR: #F08300; TEXT-DECORATION: none}
.F_orange A:visited {COLOR: #F08300; TEXT-DECORATION: none}
.F_orange A:hover {COLOR: #cc000a; TEXT-DECORATION: underline}

.F_blue {COLOR: #036ad0}
.F_blue A:link {COLOR: #036ad0; TEXT-DECORATION: none}
.F_blue A:visited {	COLOR: #036ad0; TEXT-DECORATION: none}
.F_blue A:hover {COLOR: #cc000a; TEXT-DECORATION: underline}

.F_yellow {COLOR: #FFF100}
.F_yellow A:link {COLOR: #FFF100; TEXT-DECORATION: none}
.F_yellow A:visited {COLOR: #FFF100; TEXT-DECORATION: none}
.F_yellow A:hover {COLOR: #fff; TEXT-DECORATION: underline}
/*----------灰色--------------*/
.F_gray {COLOR: #ccc}
.F_gray A:link {COLOR: #ccc; TEXT-DECORATION: none}
.F_gray A:visited {COLOR: #ccc; TEXT-DECORATION: none}
.F_gray A:hover {COLOR: #f00; TEXT-DECORATION: underline}

.F_maize {COLOR: #fff600}
.F_maize A:link {COLOR: #fff600; TEXT-DECORATION: none}
.F_maize A:visited {COLOR: #fff600; TEXT-DECORATION: none}
.F_maize A:hover {COLOR: #fff600; TEXT-DECORATION: underline}
/*----------下划线--------------*/
.F_U {TEXT-DECORATION: underline}
.F_U A:link {TEXT-DECORATION: underline}
.F_U A:visited {TEXT-DECORATION: underline;}
.F_U A:hover {TEXT-DECORATION: none}
/*----------加粗--------------*/
.F_B{font-weight:bold;}
.F_B A:link  {font-weight:bold;}
.F_B A:visited{font-weight:bold;}
.F_B A:hover {font-weight:bold;}

/*----------字号--------------*/
.F_size14 {font-size:14px;}
.F_size16 {font-size:16px;}
.font14 {FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 180%;}
.font141 {FONT-SIZE: 14px; COLOR: #2E4D8A;}
.font18 {FONT-SIZE: 18px; LINE-HEIGHT: 180%}

/*-------文本框----------*/
.input1{FONT-SIZE: 12px;BORDER: #C8E4EE 1px solid; FONT-STYLE: normal; HEIGHT:19px; FONT-VARIANT: normal; line-height:19px;}
.inputShortTitle{ BORDER: #C8E4EE 1px solid; height:20px; background-image:url(../images/shortTitle.gif);background-position:left bottom; line-height:18px;}
.inputLogin{FONT-SIZE: 12px;BORDER: #1D6DAF 1px solid; FONT-STYLE: normal; HEIGHT:20px; FONT-VARIANT: normal; line-height:20px;background-color:#034B8C;color:#FFFFFF}
.inputa{border:1px solid #C8E4EE;background:#ffffff;font:9pt;color:#000000;} 

.left{float:left;}
.right{float:right;}
/*以下是表格页样式*/
.gridview{border:solid 1px #82D1E7;padding:1px 1px 1px 1px;vertical-align:middle;clear:both;height:20px;}
.gridview td{border:solid 1px #82D1E7;padding:1px 1px 1px 1px;vertical-align:middle;clear:both;}
.gridview th{border:solid 1px #82D1E7;background:#C1EAF7 url(../images/bj_05.gif) repeat-x; text-align:center; height:24px;}

.tabGg {background-color:#82D1E7; }


.right_bg{padding:5px; background-color:#FFFFFF;}/*表格左边样式*/
.r_bg{BACKGROUND-COLOR: #ECF9FC; text-align:right;padding-left:3px;}/*表格右边样式*/
.systemTr{ background:#52B1E7;border-top:1px #FFFFFF solid;border-left:1px #FFFFFF solid;border-right:1px #cccccc solid; }
