*{
    padding:0;
    margin:0;
}
.jz-wrap{
    width:1330px;
    height:920px;
    /*border:1px solid red;*/
}
.jz-wrap #main{
margin-top:10px;
margin-left:30px;
    width:20px;
    height:20px;
    background-color:red;
   border-radius:50%;
}

.jz-wrap .left-wrap{
    width:550px;
    height:898px;
    float:left;
    margin-right:0px;
    border:1px solid #c9c9c9;
}
.jz-wrap .left-wrap .status-con{
    width:550px;
     height:900px;
}
.jz-wrap .left-wrap .status-con .jz-img-wrap{
    width:500px;
    /*border:1px solid yellow;*/
    margin:150px auto 10px;
}

.jz-wrap .left-wrap .status-con .jz-img-wrap  img{
    display:block;
    width:400px;
    height:184px;
    margin:0 auto;
}

/*.jz-wrap .left-wrap .status-con .text-wrap{
    width:400px;
    height:70px;
    margin:0 auto;
    border:1px solid red;
}*/

.jz-wrap .left-wrap .status-con .text-wrap .status1,
.jz-wrap .left-wrap .status-con .text-wrap .status2,
.jz-wrap .left-wrap .status-con .text-wrap .status3,
.jz-wrap .left-wrap .status-con .text-wrap .status4,
.jz-wrap .left-wrap .status-con .text-wrap .status5,
.jz-wrap .left-wrap .status-con .text-wrap .status6,
.jz-wrap .left-wrap .status-con .text-wrap .status7,
.jz-wrap .left-wrap .status-con .text-wrap .status8{
    width:120px;
    height:60px;
   border:1px solid #bbb;
   top:50px;
   position:absolute;
   border-radius:5px;
   overflow:hidden
}
.jz-wrap .left-wrap .status-con .text-wrap .status1{
    left:20px;
      top:50px;
}
.jz-wrap .left-wrap .status-con .text-wrap .status2{
    left:150px;
      top:50px;
}
.jz-wrap .left-wrap .status-con .text-wrap .status3{
    left:280px;
      top:50px;
}
.jz-wrap .left-wrap .status-con .text-wrap .status4{
    left:410px;
      top:50px;
}

.jz-wrap .left-wrap .status-con .text-wrap .status5{
    left:20px;
      top:372px;
}
.jz-wrap .left-wrap .status-con .text-wrap .status6{
    left:150px;
      top:372px;
}
.jz-wrap .left-wrap .status-con .text-wrap .status7{
    left:280px;
      top:372px;
}
.jz-wrap .left-wrap .status-con .text-wrap .status8{
    left:410px;
      top:372px;
}



.jz-wrap .right-wrap{
    width:600px;
    height:900px;
    float:left;
}


.status-all .wrap-name{
    width:120px;
    height:30px;
    background-color:#6666FF;
}

.status-all .wrap-name .name{
    color:#fff;
    font-size:14px;
    height:30px;
    line-height:30px;
    text-align:center;
}

.status-all .wrap-value{
    width:120px;
    height:30px;
    background-color:#999;
}

.status-all .wrap-value .value{
    color:#00ff00;
    font-size:14px;
    font-weight:700;
    height:30px;
    line-height:30px;
    text-align:center;
}

